<div class="course__item"
    [ngClass]="{'course_top-rated': courseItem.isTopRated}"
    [appCreationDate]="courseItem.date">
    <div class="course__details">
        <div class="course__header">
            <h3 class="course__title">{{courseItem.name | uppercase}}</h3>
            <div class="course__timing">
                <span class="course__duration">{{courseItem.length | courseDuration}}</span>
                <span class="course__creation-date">{{courseItem.date | date}}</span>
            </div>
        </div>
        <div class="course__description">{{courseItem.description}}</div>
    </div>
    <div class="action-buttons">
        <button class="btn" routerLink="../course/{{courseItem.id}}">
            <img class="icon" src="assets/edit.svg">
            {{ 'courses.edit' | translate }}
        </button>
        <button class="btn" (click)="deleteItem(courseItem)">
            <img class="icon" src="assets/delete.svg">
            {{ 'courses.delete' | translate }}
        </button>
    </div>
</div>