.login__background {
    height: calc(100vh - 2 * var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--item-background);
}

.login__window {
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 6px;
}

.login__header,
.login__footer {
    display: flex;
    justify-content: space-between;
}

.login__header {
    margin-bottom: 20px;
    align-items: center;
}
.login__title {
    font-size: x-large;
}

.login__warning {
    font-size: smaller;
    color: red;
}

.login__footer {
    margin-top: 20px;
}

.login__loginBtn {
    height: 36px;
    width: 68px;
}
