<div class="main-content content-padding">
    <div class="modal__window course-details">
        <div class="modal__header">
            <span class="modal__title">{{windowTitle}} course</span>
        </div>
        <div class="modal__body">
            <div class="form__label">
                <label for="course-title" class="form__label_bold">Title:</label>
                <span
                    class="form__label_required"
                    *ngIf="!course.title">
                    *required
                </span>
            </div>
            <input
                id="course-title"
                class="form__input"
                placeholder="Course title"
                [(ngModel)]="course.title">
            <div class="form__label">
                <label for="course-description" class="form__label_bold">Description:</label>
                <span
                    class="form__label_required"
                    *ngIf="!course.description">
                    *required
                </span>
            </div>
            <textarea 
                id="course-description" 
                class="course-details__description form__input"
                placeholder="Course description"
                [(ngModel)]="course.description">
            </textarea>
            <div class="course-details__duration">
                <div class="form__label">
                    <label for="course-duration" class="form__label_bold">Duration:</label>
                    <span
                        class="form__label_required"
                        *ngIf="!course.duration">
                        *required
                    </span>
                </div>
                <input 
                    id="course-duration" 
                    type="number"
                    min="0"
                    class="form__input"
                    placeholder="minutes"
                    [(ngModel)]="course.duration">
            </div>
            <span>{{ course.duration | courseDuration }}</span>
            <div class="course-details__date">
                <div class="form__label">
                    <label for="course-date" class="form__label_bold">Date:</label>
                    <span
                        class="form__label_required"
                        *ngIf="!course.creationDate">
                        *required
                    </span>
                </div>
                <input
                    id="course-date" 
                    type="date" 
                    class="form__input"
                    placeholder="minutes"
                    [ngModel]="getDateString()">
            </div>
            <div class="course-details__authors">
                <div class="form__label">
                    <label for="course-authors" class="form__label_bold">Authors:</label>
                    <span
                        class="form__label_required"
                        *ngIf="!course.authors">
                        *required
                    </span>
                </div>
                <input 
                    id="course-authors" 
                    class="form__input"
                    placeholder="Start typing"
                    [(ngModel)]="course.authors">
            </div>
        </div>
        <div class="modal__footer">
            <button 
                class="btn dismiss-btn"
                (click)="cancelEditing()">
                Cancel
            </button>
            <button 
                class="btn action-btn"
                (click)="saveCourse()">
                Save
            </button>
        </div>
    </div>
</div>
