.breadcrumbs {
    font-weight: 600;
    font-size: 14px;
    height: calc(var(--header-height) / 2);
    display: flex;
    align-items: center;
}

.breadcrumb {
    padding-left: 10px;
}

.breadcrumb:after {
    content: "/";
}

.breadcrumb:last-child:after {
    content: "";
    cursor: default;
}

.breadcrumb-clickable {
    /* text-decoration: underline; */
    cursor: pointer;
}