<div class="courses-list content-padding main-content">
    <div class="search-container">
        <div class="search-bar">
            <img src="assets/ic-search.svg" class="search-image">
            <input type="text" 
                placeholder="Text to search" 
                class="search-field"
                [(ngModel)]="searchString">
        </div>
        <button
            id="search-btn"
            class="btn action-btn" 
            (click)="onSearch()">
            Search
        </button>
    </div>
    <button class="btn add-btn">
        <img src="assets/add.svg">
        Add course
    </button>
    <div *ngIf="courses.length; else noCoursesBtn">
        <app-courses-list-item 
            *ngFor="let course of courses" 
            (deletedItem)="onDeleteItem($event)"
            [courseItem]="course">
        </app-courses-list-item>
        <button class="btn underlined-btn full-width-btn"
            (click)="onLoadMore()">
            Load more
        </button>
    </div>
    <ng-template #noCoursesBtn>
        <button class="btn underlined-btn full-width-btn">
            No data. Feel free to add a new course.
        </button>
    </ng-template>
    <div class="modal" *ngIf="showModal">
        <div class="modal__window">
            <div class="modal__header">
                <span>Delete course?</span>
                <button 
                    class="btn" 
                    (click)="cancelDelete()">
                    <img title="close" src="assets/close.svg">
                </button>
            </div>
            <div class="modal__body">
                <p>Are your sure you want to delete {{selectedCourse.title}}</p>
            </div>
            <div class="modal__footer">
                <button 
                    class="btn dismiss-btn"
                    (click)="cancelDelete()">
                        Cancel
                </button>
                <button 
                    class="btn action-btn"
                    (click)="deleteCourse(selectedCourse)">Yes, delete</button>
            </div>
        </div>
    </div>
</div>