<div class="courses-list content-padding main-content">
    <div class="search-container">
        <div class="search-bar">
            <img src="assets/ic-search.svg" class="search-image">
            <input type="text" 
                placeholder="Text to search" 
                class="search-field"
                [(ngModel)]="searchString">
        </div>
        <button class="btn search-btn" (click)="onSearch()">Search</button>
    </div>
    <button class="btn add-btn">
        <img src="assets/add.svg">
        Add course
    </button>
    <div *ngIf="courses.length; else noCoursesBtn">
        <app-courses-list-item 
            *ngFor="let course of courses" 
            (deletedItem)="onDeleteItem($event)"
            [courseItem]="course">
        </app-courses-list-item>
        <button class="btn full-width-btn"
            (click)="onLoadMore()">
            Load more
        </button>
    </div>
    <ng-template #noCoursesBtn>
        <button class="btn full-width-btn">
            No data. Feel free to add a new course.
        </button>
    </ng-template>
</div>