:host {
    flex-grow: 2;
}

.add-btn {
    background-color: var(--dark-sky-blue);
    border-radius: 3px;
    font-size: 14px;
    float: right;
    height: 36px;
    width: 138px;
    margin: 20px 0;
}

.full-width-btn {
    width: 100%;
    text-transform: uppercase;
    height: 48px;
    margin-bottom: 60px;
    border-radius: 8px;
}

.search-container,
.search-bar,
.modal {
    display: flex;
}

.search-bar,
.search-field {
    flex-grow: 2;
}

.search-container {
    height: 48px;
    width: 40%;
    min-width: 400px;
    margin: 20px 0;
    justify-content: space-between;
}

.search-bar {
    height: 100%;
    background-color: white;
    align-items: center;
}

.search-field {
    border: none;
    height: 36px;
}

.search-field:focus {
    outline: none;
}

.search-image {
    margin: 0 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    background-color: rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
}