:root {
    --header-height: 64px;
    --dark-sky-blue: #30b6dd;
    --item-background: #f2f3f7;
    --sick-green: #9bc837;
    --content-padding: 85px;
    --background-gray: #eaedf5;
    --pale-gray: #f2f3f7;
    --gray-font: #6c7283;
    --placeholder-color: #d9dbe3;
}

header,
footer {
    background-color: #414452;
    color: white;
    height: var(--header-height);
    display: flex;
    align-items: center;
}

.content-padding {
    padding: 0 var(--content-padding);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.btn {
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn {
    background-color: var(--sick-green);
    border-radius: 3px;
}

.underlined-btn {
    text-decoration: underline;
    color: var(--dark-sky-blue);
    background-color: white;
}

.disabled-btn {
    cursor: default;
    background-color: lightgray;
    color: black;
}

.icon {
    height: 100%;
}

.main-content {
    background-color: var(--item-background);
    height: 100%;
    overflow: auto;
}

.modal__window .btn {
    height: 36px;
    padding: 4px 15px;
}

.modal__footer,
.modal__header,
.app__body {
    display: flex;
}

.app__body {
    flex-direction: column;
    height: calc(100vh - var(--header-height));
    overflow: auto;
    justify-content: space-between;
}

.modal__window {
    width: 400px;
    border-radius: 6px;
    background-color: white;
}

.modal__header {
    border-radius: 6px 6px 0 0;
    height: 54px;
    justify-content: space-between;
    align-items: center;
}

.modal__header .btn {
    background-color: var(--background-gray);
}

.modal__footer {
    padding: 20px;
    justify-content: flex-end;
}

.modal__header,
.modal__body {
    padding: 0 20px;
}

.dismiss-btn {
    background-color: gray;
    border-radius: 3px;
    margin-right: 15px;
}

.form__label {
    display: flex;
    justify-content: space-between;
}

.form__label_bold {
    font-weight: 600;
    font-size: smaller;
}

.form__label_error {
    font-size: x-small;
    color: var(--gray-font);
}

.form__input {
    width: 100%;
    height: 36px;
    border-radius: 3px;
    border: solid 1px var(--placeholder-color);
    margin: 10px 0;
    padding: 0 10px;
    box-sizing: border-box;
}

.form__input::placeholder {
    color: var(--placeholder-color);
}

@keyframes half-circle-spinner-animation {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.ng-invalid.ng-touched {
    border-color: red;
}

.ng-invalid.ng-touched:focus {
    outline-color: red;
}